# Core
[submodule ".vim/bundle/delimitMate"]
        path = .vim/bundle/delimitMate
        url = https://github.com/Raimondi/delimitMate.git

[submodule "init/Smyck-Color-Scheme"]
        path = init/Smyck-Color-Scheme
        url = https://github.com/hukl/Smyck-Color-Scheme.git
