# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.zsh/lib/extra.zsh

*.sublime-*
*.log
.zsh/lib/30-extra.zsh
.gitsecret/keys/random_seed
!*.secret
.config/espanso/user/email.yml
.config/espanso/user/misc.yml
.config/espanso/user/people.yml
.config/espanso/user/personal.yml
.config/zsh/lib/30-extras.zsh
.ssh/conf.d/hosts.conf
