[submodule "init/Smyck-Color-Scheme"]
	path = init/Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "init/FiraCode"]
	path = init/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "init/vim-json"]
	path = init/vim-json
	url = https://github.com/elzr/vim-json
[submodule "init/source-code-pro"]
	path = init/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
