[submodule "init/Smyck-Color-Scheme"]
	path = init/Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "init/FiraCode"]
	path = init/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "init/nord-iterm2"]
	path = init/nord-iterm2
	url = https://github.com/arcticicestudio/nord-iterm2
