# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.zsh/lib/extra.zsh

*.sublime-*
.vim/colors/smyck.vim
*.log
init/Smyck-Color-Scheme/
init/FiraCode/
